<div id="generalContainer">
  <div class="dashboard">

    <div class="sidebar">
      <strong>CN</strong>
      <div class="nav-icon"><img src="https://img.icons8.com/?size=100&id=7819&format=png&color=000000"></div> <!--Pagina profilo (attuale)-->
      <div class="nav-icon"><img src="https://img.icons8.com/?size=100&id=l5Br0fxxE35Q&format=png&color=000000"></div> <!--Pagina palestra-->
      <div class="nav-icon"><img src="https://img.icons8.com/?size=100&id=364&format=png&color=000000"></div> <!--Porta alla pagina modifiche-->
    </div>


    <div class="main">
      <div class="header">
        <div>
          <h2>Il mio profilo</h2>
          <small>Benvenuto nella tua area personale</small>
        </div>
        <div class="user-profile">
          <img src="https://img.icons8.com/?size=50&id=7819&format=png&color=000000" alt="User" />
          <span>"NomeCognome"</span> <!--Mostrare nome e cognome-->
        </div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

</div>
