body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: 'Sternbach', sans-serif;
}

.login-header {
    text-align: center;
    background: white;
    padding: 20px;
   /* border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
    border: 2px black;
    border: solid;
}

.login-header h2 {
    color: #ff6600;
    font-weight: bold;
}

div{
    width: 30%;  
    position:absolute; 
    height: 50%;   

}