<div class="container register-container">
  <h1>Registrazione Maestro</h1>
  <form id="register-form">
      <div class="form-row">
          <div class="input-half">
              <label for="first-name">Nome</label>
              <input type="text" id="first-name" name="first-name" placeholder="Inserisci il tuo nome" required>
          </div>
          <div class="input-half">
              <label for="last-name">Cognome</label>
              <input type="text" id="last-name" name="last-name" placeholder="Inserisci il tuo cognome" required>
          </div>
      </div>

      <div class="form-row">
          <div class="input-half">
              <label for="dob">Data di Nascita</label>
              <input type="date" id="dob" name="dob" required>
          </div>
          <div class="input-half">
              <label for="city">Nazionalità</label>
              <input type="text" id="nazionality" name="nazionality" placeholder="Inserisci la tua nazionalità" required>
          </div>
          <div class="input-half">
              <label for="city">Luogo di nascita</label>
              <input type="text" id="pob" name="pob" placeholder="Inserisci il luogo di nascita" required>
          </div>
      </div>

      <label for="martial-art">Discipline Marziali</label>
      <select id="martial-art" name="martial-art" required onchange="updateGrades()">
          <option value="">Seleziona una disciplina</option>
          <option value="karate">Karate</option>
          <option value="judo">Judo</option>
          <option value="taekwondo">Taekwondo</option>
          <option value="bjj">Brazilian Jiu-Jitsu</option>
          <option value="kungfu">Kung Fu</option>
          <option value="muaythai">Muay Thai</option>
          <option value="kickboxing">Kickboxing</option>
      </select>

      <label for="grade">Grado Imparato</label>
      <select id="grade" name="grade" required>
          <option value="">Seleziona il grado</option>
      </select>

      <button type="submit">Registrati</button>
      <p class="small">Sarà possibile effettuare ulteriori modifiche nell'aera palestra</p>
  </form>
</div>
