/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Sternbach';
    src: url('assets/Font/Sternbach.otf') format('opentype'); /* Percorso corretto */
    font-weight: normal;
    font-style: normal;
}


* {
    font-family:  Sternbach, sans-serif;
}
