<div id="myMain">
  <div class="main">
    <div class="header">
      <div>
        <h2>Il mio profilo</h2>
        <small>Benvenuto nella tua area personale</small>
      </div>
      <div class="user-profile">
        <img src="https://img.icons8.com/?size=100&id=7819&format=png&color=000000" alt="User" />
        <span>"NomeCognome"</span> <!--Mostrare nome e cognome-->
      </div>
    </div>

    <div class="cards">
      <div class="profile-card">
        <h4>Il mio profilo</h4>
        <img src="https://img.icons8.com/?size=100&id=7819&format=png&color=000000" alt="User" />
        <h5>"NomeCognome"</h5> <!--Mostrare nome e cognome-->
        <p>"Email"</p> <!--Mostrare email-->
        <p>"Citta"</p> <!--Mostrare luogo di nascita-->
        <p>"Palestra"</p> <!--Mostrare palestra-->

        <button>Edit</button><!--Porta alla pagina modifiche-->

      </div>

      <div class="card">
        <div class="card-header">
          <h4>Capacità bot</h4>
        </div>
        <ul>
         <!--Vengono mostrare le discipline-->
          <li><span>"Prima discipina"</span><span class="badge green">"Grado"</span></li>
          <li><span> "Seconda ..."</span><span class="badge red">Grado</span></li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <h4>Il mio record</h4>
          <span class="badge pink"></span>
        </div>
        <ul>
          <!--
            <li><span>Internet</span><span class="badge green">Paid</span></li>
            <li><span>Electricity</span><span class="badge green">Paid</span></li>
            <li><span>Rent</span><span class="badge orange">Due</span></li>
          -->

        </ul>
      </div>
    </div>
  </div>
</div>
