<div class="container login-container">
  <h2>Accedi a ClinchNet</h2>
  <form>
      <label for="email" class="testo-scuro">Email</label>
      <input type="email" id="email" name="email" class="white-input" placeholder="Inserisci la tua email" required>

      <label for="password" class="testo-scuro">Password</label>
      <input type="password" id="password" name="password" class="white-input" placeholder="Inserisci la tua password" required>

      <button  routerLink="scelta">Login</button>
  </form>
  <p class="testo-scuro">Non hai un account? <a href="#">Registrati</a></p>
</div>
