
<div class="main-container">
    <div class="left-section">
      <div class="left-overlay"></div>
      <div class="left-content">
        <h1>Benvenuto!</h1>
        <p>Accedi al tuo account per continuare accedi o registrati</p>
      </div>
    </div>
    <div class="right-section">
      <div class="brand">ClinchNet</div>
      @if(sceltaTipo==0){
        <app-scelta-user (sceltaEvent)="aggiornaScelta($event)"></app-scelta-user>
      }
      @else{
        @if(sceltaTipo==1)
        {
          <app-registrazione-maestro></app-registrazione-maestro>
        }
        @else 
        {
          <app-registrazione-allievo></app-registrazione-allievo>
        }

      }

      <div class="signup-link">
       Hai già un account?<a routerLink="/">Accedi</a>
        <p class="mt-3"> &copy; {{ currentYear }} - Tutti i diritti riservati </p>
      </div>
      <!--<div>Prova per vedere dashboard<a routerLink="/dashboard">VAI</a></div> -->
    </div>
  </div>
